@font-face {
  font-family: 'Carmela';
  src: url('Fonts/carmela.eot');
  src: url('Fonts/carmela.eot?#iefix') format('embedded-opentype'),
  url('Fonts/carmela.woff') format('woff'),
  url('Fonts/carmela.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Helvetica, Carmela;
  position: relative;
  padding-top: 90px;

  direction: rtl;
  margin: 0px;
  margin-bottom: -10px;
  margin-top: -40px;
  background-color: #e7e7e7;
}

.row-fluid.work {
  text-align: center;
}

.work {
  margin-top: 200px;
  margin-bottom: 200px;
}

.work img {
  width: 30%;
  height: 100%;
  box-shadow: 0px 0px 50px #AAA;
  border-radius: 3px;
}

.work .desc {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}


.footer {
  background-color: #464646;
  margin: 0px;
  padding: 0px;
}
.bg {
  margin: 0px;
  background: #00ff00 url('../img/bg-filler.png') repeat-y center;
  background-size: 100% 100%;
}

.bgtop {
  background: #e7e7e7 url('../img/bg-top.png') no-repeat center; 
  width: 100%;
  height: 826px;
  background-size: 100% 100%;
}
.bgbottom {
  background: #e7e7e7 url('../img/bg-bottom.png') no-repeat center; 
  width: 100%;
  background-size: 100% 643px;
  background-position: 0px 0px;
}

.info {
  position: relative;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 300px;
  margin-bottom: 300px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 60px;
  padding-bottom: 40px;
  border-radius: 2px;
  background-color: #FFF;
  box-shadow: 0px 0px 10px #000;
}

.info h1 {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 20px;
  font-weight: bold;

}

.info h3 {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  color: black;
}

.info h2 {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 18px;
  font-weight: bold;
}

.info p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 30px;
}

.info .content {
  padding-left: 10px;
  padding-right: 10px;
}

.info img.heading {
  position: absolute;
  top: -11px;
  right: 16px;
}

.info hr {
  height: 2px;
  border: 0px;
  padding: 0px;
  margin-top: 40px;
  background-color: #dfdfdf;
}

.info .publication {
  min-height: 300px;
  max-height: 300px;
  height: 300px;
  overflow-y: scroll;
}

/* info navigation (prev, next) */

.info .pub-navigation {
  text-align: center;
  font-size: 20px;
}

.info .pub-navigation a {
  color: #bcbcbc;
  opacity: 0.50;
  cursor: pointer;
}

.info .pub-navigation a:hover {
  opacity: 1.0;
  text-decoration: none;
}

.info .pub-navigation a.next {
  position: relative;
  margin-right: 80px;
}

.info .pub-navigation a.prev {
  position: relative;
}

.info .pub-navigation a img {
  margin-right: 10px;
  margin-left: 10px;
}

.info li {
  display: none;
}

#exhibitions {
  margin-top: -300px;
}



.summary p {
  text-align: justify;
  font-size: 24px;
  line-height: 30px;
}

.summary {
  box-shadow: none;
  background-color: #e7e7e7;
  margin-bottom: 0px;
  padding-bottom: 300px;
}

#education {
  padding-top: 30px;
}


.navbar .logo img {
  margin-top: -5px;
  margin-bottom: -10px;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar ul {
  padding-top: 8px;
}

/* -- footer -- */

footer {
  background: #e7e7e7 url('../img/footer-background.png') repeat-x center;
  background-size: 100% 100%;
  min-height: 567px;
  /*height: 1000px;*/
}

footer .contact {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  color: white;
  position: relative;
  top: 100px;
}

footer .contact-text {
  position: relative;
  left: -80px;
  top: -22px;
  text-align: right;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;

}

footer img  {
  width: 350px;
}

footer a {
  color: white;
  text-decoration: underline;
}

footer a:hover {
  color: #b8d5e1;
  text-decoration: none;
}

/* -- welcome -- */

#welcome {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}
